# 제어문

## **01. 조건문 (if문)**

- if문은 반드시 참/거짓을 판단할 수 있는 ‘조건식’과 함께 사용한다
- `if <조건식> :`
- <조건식>이 참인 경우: `:` 이후의 문장을 실행
- <조건식>이 거짓인 경우: `else:` 이후의 문장을 실행

```
if <조건식>:
    if의 조건식이 참인 경우 실행하는 코드
else:
    if의 조건식이 거짓인 경우 실행하는 코드
```

In [6]:
my_string = input()
print(my_string)

if my_string == '12/25':
    print('merry christmas')
else:
    print('no')

 1

1
no

In [14]:
num = input('숫자를 입력해주세요: ')

if int(num) % 2 == 1:
    print('odd')
else :
    print('even')

숫자를 입력해주세요:  12

even

In [19]:
num = int(input('숫자를 입력해주세요: '))

if num % 2 == 1:
    print('odd')
else:
    print('even')

숫자를 입력해주세요:  12

even

In [21]:
num = int(input('숫자를 입력해주세요: '))

if num % 2 == 0:
    print('even')
else:
    print('odd')

숫자를 입력해주세요:  3

odd

In [ ]:
num = int(input('숫자를 입력해주세요: '))

#자동 형변환하므로 0은 False, 1은 True

if num % 2:
    print('odd')
else:
    print('even')

In [24]:
num = int(input('숫자를 입력해주세요: '))

if num ** 5:
    print('5의 배수')
else:
    print('5의 배수가 아닙니다.')

숫자를 입력해주세요:  15

5의 배수

In [25]:
num = int(input('숫자를 입력해주세요: '))

if num % 5 == 0:
    print('5의 배수')
else:
    print('5의 배수가 아닙니다.')

숫자를 입력해주세요:  10

5의 배수

In [26]:
num = int(input('숫자를 입력해주세요: '))

if num % 5:
    print('5의 배수가 아닙니다')
else:
    print('5의 배수')

숫자를 입력해주세요:  5

5의 배수

### elif

```
if <조건식>:
    if문이 참인 경우
elif <조건식>:
    elif문이 참인 경우
else:
    위의 모든 조건식이 거짓인 경우
```

In [39]:
# 점수에 따라 학점 나누기

score = int(input('점수를 입력하세요: '))

if score >= 90:
    print('당신의 점수는 A입니다')
    if score >= 95:
        print('참 잘했어요')
elif score >= 80:
    print('당신의 점수는 B입니다')
elif score >= 70:
    print('당신의 점수는 C입니다')
else:
    print('당신의 점수는 F입니다')

점수를 입력하세요:  99

당신의 점수는 A입니다
참 잘했어요

### 조건표현식
- `true_value if <조건식> else false_value`

In [40]:
if 1 > 0:
    print('True')
else:
    print('False')

True

In [43]:
a = 0

if True:
    a = 100
else:
    a = -100
print(a)

100

In [44]:
a = 100 if True else -100
print(a)

100

In [46]:
num = int(input())

if num >= 0:
    result = num
else:
    result = 0
print(result)

 -10

0

In [54]:
num = int(input())

result = num if num >= 0 else 0

print(result)

 10

10

In [55]:
num = 10
result = '홀수' if num % 2 else '짝수'
print(result)

짝수

In [57]:
num = 10

if num % 2:
    result = '홀수'
else:
    result = '짝수'
print(result)

짝수

## 반복문

## while문

while <조건식>:
    실행할 코드

In [58]:
a = 0

while a < 5:
    print(a)
    a += 1

0
1
2
3
4

## for 문

```
for variable(item) in sequence:
    code
```

In [59]:
numbers = [1, 2, 3, 4, 5]

for number in numbers:
    print(number)

1
2
3
4
5

In [60]:
word = 'apple'

for char in word:
    print(char)

a
p
p
l
e

In [61]:
for i in range(5):
    print(i)

0
1
2
3
4

In [69]:
numbers = range(51)

for number in numbers:
    if number % 5 == 0:
        print(number)

0
5
10
15
20
25
30
35
40
45
50

In [72]:
locations = ['서울', '대전', '부신']

for location in enumerate(locations):
    print(location)

(0, '서울')
(1, '대전')
(2, '부신')

In [73]:
print(type(location))

<class 'tuple'>

In [74]:
for (index, location) in enumerate(locations):
    print(index)
    print(location)

0
서울
1
대전
2
부신

## dictionary 반복
- for key in dict:
- for key in dict.keys():
- for value in dict.values():
- for key, value in dict.items():

In [76]:
info = {
    'name': 'gildong',
    'location': 'seoul',
    'phone': '010-0000-0000',
    'age': 20,
}

In [77]:
for k in info:
    print(k)

name
location
phone
age

In [81]:
for k in info.keys():
    print(info[k])

gildong
seoul
010-0000-0000
20

In [82]:
for v in info.values():
    print(v)

gildong
seoul
010-0000-0000
20

In [83]:
for k, v in info.items():
    print(k, v)

name gildong
location seoul
phone 010-0000-0000
age 20

In [84]:
blood_type = {
    'A': 15,
    'B': 8,
    'O': 5,
    'AB': 4,
}

In [87]:
# 혈액형은 ~가 있습니다

for b in blood_type:
    print(f'혈액형은 {b}가 있습니다')

혈액형은 A가 있습니다
혈액형은 B가 있습니다
혈액형은 O가 있습니다
혈액형은 AB가 있습니다

In [92]:
# 총 학생은 00명 입니다

result = 0
for number in blood_type.values():
    result += number
    print(result)
print(f'총 학생 수는 {result}명 입니다.')

15
23
28
32
총 학생 수는 32명 입니다.

In [93]:
for k, v in blood_type.items():
    print(f'{k}형은 {v}명입니다.')

A형은 15명입니다.
B형은 8명입니다.
O형은 5명입니다.
AB형은 4명입니다.

### break
- 반복문을 종료 시키는 키워드

In [100]:
for i in range(100):
    print('여기는 for문', i)
    if i > 5:
        print('여기는 break')
        break

여기는 for문 0
여기는 for문 1
여기는 for문 2
여기는 for문 3
여기는 for문 4
여기는 for문 5
여기는 for문 6
여기는 break

In [104]:

while True:
    rice = input()

    if rice == '쌀':
        print('잡았다')
        break

 쌀

잡았다

### continue

In [108]:
for i in range(21):
    if i % 2 == 1:
        continue
    print(i)

0
2
4
6
8
10
12
14
16
18
20

In [110]:
ages = [10, 20, 30, 23, 51, 5, 45, 55]

for age in ages:
    if age < 20:
        continue
    print(f'{age}살은 성인입니다.')

20살은 성인입니다.
30살은 성인입니다.
23살은 성인입니다.
51살은 성인입니다.
45살은 성인입니다.
55살은 성인입니다.

### else
- else 문은 끝까지 반복된 경우 실행. break를 만나지 않은 경우 실행됨

In [117]:
for i in range(10):
    if i > 10:
        break
    print(i)
else:
    print('모두 완료')

0
1
2
3
4
5
6
7
8
9
모두 완료