## 함수(function)

In [1]:
# 사각형의 사로와 세로의 길이를 이용해서 면적과 둘레를 구하는 코드

In [3]:
x = float(input('가로의 길이: '))
y = float(input('세로의 길이: '))

a = x * y
b = (x * 2) + (y * 2)

print(f'사각형의 면적은 {a}, 둘레는 {b}입니다')

가로의 길이:  10
세로의 길이:  5

사각형의 면적은 50.0, 둘레는 30.0입니다

In [5]:
height = 50
width = 20

area = height * width
perimeter = (height + width) * 2

print(area, perimeter)

1000 140

## 함수의 선언과 호출
- 선언

```python

	def func_name(parameter1, parameter2, ...):
		code 1
		code 2
		...
		return value

```

In [17]:
def rectangle(height, width):
    area = height * width
    perimeter = (height + width) * 2

    print(f'사각형의 면적은 {area}, 둘레는 {perimeter}입니다')

In [18]:
rectangle(20, 30)

사각형의 면적은 600, 둘레는 100입니다

### 기본 함수
- `dir(__builtins__)`

In [19]:
dir(__builtins__)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BaseExceptionGroup',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EncodingWarning',
 'EnvironmentError',
 'Exception',
 'ExceptionGroup',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'PythonFinalizationError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'WindowsError',
 'ZeroDivisionError',
 '_IncompleteInputError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'aiter',
 'all',
 'anext',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'execfile',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'runfile',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

In [21]:
max(2, 2)
# 더 큰 수 뽑아줌

2

In [32]:
def my_max(x, y):
    if x > y:
        print(x)
    elif x == y:
        print('같습니다')
    else:
        print(y)

my_max(110, 110)

같습니다

## 함수의 return

- 함수가 return을 만나면 해당값을 반환하고 함수를 종료
- 만약 return이 없는 경우 None을 자동으로 반환
- return은 오직 하나의 객체만 반환함

In [33]:
my_max(1, 2)

2

In [34]:
def my_max_2(x, y):
    if x > y:
        return x
    else:
        return y

my_max_2(10, 2)

10

In [35]:
result = my_max_2(1, 2)
print(result)

2

In [37]:
def my_def(x):
    return x * 2, x

my_def(4)

# 하나만 반환할 수 있다고 했는데? -> 이건 소괄호로 묶여있음 -> 튜플 하나만 반환한 것임

(8, 4)

In [39]:
def my_for(x):
    for i in range(x):
        print(i)
        if i == 3:
            return i

my_for(5)

# return이 나오는 순간 함수는 끝남 반복문이더라도 종료됨

0
1
2
3

3

In [100]:
def my_list_max(x, y):
    a = 0
    b = 0
    
    for i in x:
        a += i
        
    for i in y:
        b += i
        
    if a > b:
        return x
    else :
        return y

# 개수 만큼 반복하고 싶다면 -> range(len(x)) -> 순서로는 가능
# 하지만 이 경우 각각의 요소에 접근할 수는 없음

# for문에서 in 이후에 시퀀스형 자료만 들어올 수 있음
# 그래서 list 안에 있는 요소 하나하나를 꺼내서 사용할 수 있는 것임

In [101]:
my_list_max([1, 2, 3], [2, 3, 4])
# 두 리스트의 합 중에서 더 큰 값인 리스트를 출력하기

[2, 3, 4]

In [97]:
my_list_max([1000, 2, 3, 5], [200, 3, 4])

[1000, 2, 3, 5]

In [99]:
def my_list_max2(list1, list2):
    sum_of_list1 = 0
    sum_of_list2 = 0

    for item in list1:
        sume_of_list += item

    for item in list2:
        sum_of_list2 += item

    if sum_of_list1 > sum_of_list2:
        return list1
    else:
        return list2

In [104]:
def my_list_max3(list1, list2):
    sum_of_list1 = sum(list1)
    sum_of_list2 = sum(list2)

    if sum_of_list1 > sum_of_list2:
        return list1
    else:
        return list2

In [105]:
my_list_max3([1, 5, 1], [4, 6, 3])

[4, 6, 3]

### 함수의 인수

### **위치 인수**

- 기본적으로 함수는 위치를 기준으로 인수를 판단함

In [106]:
def cylinder(r, h):
    return 3.14 * r ** 2 * h

In [107]:
cylinder(3, 10)

282.6

#### 기본값
```python
def func_name(p1=v1):
    code1
    return value
```

In [113]:
def greeting(name='익명'):
    return f'{name}님 반갑습니다.'

In [115]:
greeting()

'익명님 반갑습니다.'

In [117]:
greeting('홍길동')

'홍길동님 반갑습니다.'

In [119]:
print('안녕', '반가워', sep='*')

# sep = 기본으로 띄어쓰기 되어있음 ' '
# 직접 지정해주면 그걸 기준으로 출력함

안녕*반가워

In [124]:
def greeting(name='익명', age='?'):
    return f'{name}님의 나이는 {age}살 입니다.'

In [125]:
greeting('수빈', 25)

'수빈님의 나이는 25살 입니다.'

In [129]:
def greeting(age, name='익명'):
    return f'{name}님의 나이는 {age}살 입니다.'

In [130]:
def greeting(name='익명', age):
    return f'{name}님의 나이는 {age}살 입니다.'

SyntaxError: parameter without a default follows parameter with a default (3403590046.py, line 1)

### 키워드 인수
- 함수를 호출(실행)할 때 내가 원하는 위치에 직접적으로 값을 전달

In [131]:
def greeting(age, name='익명'):
    return f'{name}님은 {age}살 입니다'

In [133]:
greeting(10, '길동')
greeting(10)

'익명님은 10살 입니다'

In [ ]:
# 키워드 인수
greeting(name='길동', age=10)

# 직접 명시해서 순서 상관없이 인수 넣는 것

### 가변인자 리스트
```
def func_name(*parms):
		code
		...
		return value

In [136]:
def my_print(*words):
    print(words)

In [137]:
my_print('my', 'name', 'is')

('my', 'name', 'is')

In [138]:
max(1, 2, 5, 2, 5, 7, 8)

8

In [187]:
def my_max(*nums):
    # nums = (,,,)
    # max_num = 0
    max_num = nums[0]

    for n in nums:
        if max_num < n:
            max_num = n
    return max_num

In [188]:
my_max(5, 654, 4, 9)

654

In [189]:
my_max(-5, -654, -4, -9)

-4

## 정의되지 않은 키워드 인자 처리하기

In [2]:
def func_name(**kwawrgs):
    return value

In [3]:
info = {
    'name': 'hong',
    'age': 10,
}
print(info)

{'name': 'hong', 'age': 10}

In [6]:
# 함수를 사용해서 딕셔너리 만드는 방법
# dict() 함수 호출

dict(name='kim', age=20)
print(info)

{'name': 'hong', 'age': 10}

In [8]:
#어떤 게 몇 개가 들어오든 딕셔너리로 만듦
def my_dict(**kwargs):
    print(kwargs)

my_dict(asdf='가나다', age=123, test='asdf')

{'asdf': '가나다', 'age': 123, 'test': 'asdf'}

In [11]:
def my_func(params1, params2='temp', *numbers, **kwargs):
    return 0

In [14]:
# my_func() -> params1 부족하므로 오류남
my_func(123) #결과: 0으로 실행됨 -> params1 = 123, params2 = 'temp'
my_func(123, 234) # params1 = 123, params2 = 234
my_funt(123, 234, 345, 456, 567, 678, 789)
# params1 = 123, params2 = 234, numbers = (345, 456, 567, 678,789)

my_funt(123, 234, 345, 456, 567, 678, 789, a=1, b=2, c=3)
#숫자는 위와 동일, kwargs = {a: 1, b: 2, c: 3}

0

### lamda 표현식
- 함수를 만드는 또 다른 표현

lambda parameter: expression

In [18]:
def my_sum(num1, num2):
    return num1 + num2

In [19]:
my_sum(1, 2)

3

In [20]:
# 함수는 재사용하기 편하도록 만드는 것

In [22]:
lambda num1, num2: num1 + num2

In [23]:
(lambda num1, num2: num1 + num2)(1, 2)

3

### 타입힌트

- 정적 타입: 변수의 타입을 정해줌 -> 개발 속도는 느리지만 안정성이 높음
- 반대로 파이썬은 개발 속도는 빠르지만 안정성이 비교적 낮음

In [24]:
def my_sum(a: int, b: int) -> : int;
    return a + b

my_sum(1, 2)

3

## **이름공간(namespace), 스코프(scope)**

- python에서 사용하는 이름들은 이름공간에 저장되어 있음
- LEFB 룰에 따라 접근
1. Local : 정의된 함수 내부
2. Enclosed : 상위 함수
3. Global : 함수 밖
4. Built-in : python이 기본적으로 가지고 있는 함수

In [27]:
result = str(123)
print(result)

123

In [28]:
str = 'hello'

In [29]:
result = str(123)
print(result)

TypeError: 'str' object is not callable

In [34]:
a = 1

def local_scope(a):
    return a

a = '가나다라'

local_scope('asdf')

'asdf'

In [39]:
my_list = [1, 2, 3, 4, 5]
for i in my_list:
    print(i)
print(i)

1
2
3
4
5
5

In [42]:
a = 0

def global_scope():
    global a
    a = a + 1
    return a

global_scope()

1

### 재귀
- 함수 내부에서 자기 자신을 호출하는 함수

n! = 1 * 2 * 3 * ... * n
- 팩토리얼: 1-n까지의 곱

1! = 1
2! = 1 * 2 = 1! * 2
3! = 1 * 2 * 3 = 2! * 3
n! = (n-1)! * n

In [45]:
def fact(n):
    if n == 1:
        return 1
    else:
        return fact(n-1) * n

In [46]:
fact(10)

3628800

In [47]:
# 피보나치 수열

def fib(n):
    if n == 0 or n == 1:
        return 1
    else:
        return fib(n-2) + fib(n-1)

In [48]:
fib(5)

8