## 자료 구조
- 여러가지 자료 구조가 가지고 있는 메소드(함수) 알아보기

In [2]:
print(dir('hello'))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

## 문자열 메소드

In [3]:
a = 'hello my name is subin'

In [7]:
print(a)

hello my name is subin

In [8]:
a.capitalize() # 첫 번째 글자를 대문자로
# return이 출력되는 것임 데이터 자체가 수정되는 것은 아님
# -> print(a) 원본 데이터는 그대로임
# 데이터 수정을 하고 싶다면 변수에 넣어줘야 함
# a = a.capitalize()

a.title() # 각각의 단어 시작점을 대문자로

a.lower() # 전부 다 소문자로 바꿀 때

a.upper() # 전부 다 대문자로 바꿀 때

'HELLO MY NAME IS SUBIN'

In [9]:
my_list = ['my', 'name', 'is']
'!'.join(my_list)

'my!name!is'

In [10]:
'?'.join('배고프다')

'배?고?프?다'

In [11]:
a = '         hello     \n'
print(a)

         hello

In [12]:
a.strip()

'hello'

In [13]:
a = '!!!!!!!!hello?????????'

In [18]:
a.strip('!')

'hello?????????'

In [19]:
a.strip('?')

'!!!!!!!!hello'

In [20]:
# def strip(char= ' ')

In [21]:
a = '-----------hello---------------'
a.lstrip('-') # 왼쪽만 지우기
a.rstrip('-') # 오른쪽만 지우기

'-----------hello'

In [24]:
a = 'wooooooooooooooooooow'
a.replace('w', 'a')

'aoooooooooooooooooooa'

In [ ]:
a.replace('o', '!', 3)

In [26]:
a = 'apple'
a.find('a')

0

In [27]:
a.find('a') # 결과: 0
a.find('l') # 결과: 3
a.find('p') # 결과: 1
a.find('z') # 결과: -1

-1

In [28]:
a = 'apple'
a.index('a')
a.index('l')
a.index('p')

1

In [29]:
a.index('z')

ValueError: substring not found

In [30]:
a = 'my name is subin'
a.split() # 단어 띄어쓰기 기준으로 데이터 자름 -> 리스트로 반환

['my', 'name', 'is', 'subin']

In [31]:
a = 'woooooooooooow'
a.count('o')

12

## 리스트 메소드

In [34]:
numbers = [2, 65, 4, 8, 51, 5, 8, 9, 5]

In [36]:
numbers.append(10)

In [37]:
print(numbers)

[2, 65, 4, 8, 51, 5, 8, 9, 5, 10, 10]

In [38]:
a = [99, 100]

In [39]:
numbers.extend(a)

In [40]:
print(numbers)

[2, 65, 4, 8, 51, 5, 8, 9, 5, 10, 10, 99, 100]

In [41]:
numbers.insert()
print(numbers)

TypeError: insert expected 2 arguments, got 0

In [46]:
numbers.remove(10)

ValueError: list.remove(x): x not in list

In [47]:
print(numbers)

[2, 65, 4, 8, 51, 5, 8, 9, 5, 99, 100]

In [48]:
numbers.pop()
print(numbers)
# 가장 마지막 데이터를 삭제

[2, 65, 4, 8, 51, 5, 8, 9, 5, 99]

In [49]:
numbers.pop(0)
print(numbers)
# 맨 앞의 숫자 2가 사라짐

[65, 4, 8, 51, 5, 8, 9, 5, 99]

In [50]:
numbers.sort()
print(numbers)
# 오름차순으로 정렬

[4, 5, 5, 8, 8, 9, 51, 65, 99]

In [52]:
numbers.sort(reverse=True)

In [53]:
print(numbers)

[99, 65, 51, 9, 8, 8, 5, 5, 4]

In [55]:
sorted(numbers)

# python 자체의 함수

[4, 5, 5, 8, 8, 9, 51, 65, 99]

In [56]:
my_list = ['a', 'e', 'o', 'n', 'b']
my_list.sort()
print(my_list)

['a', 'b', 'e', 'n', 'o']

In [57]:
print(numbers)

[99, 65, 51, 9, 8, 8, 5, 5, 4]

In [58]:
numbers.reverse()

In [59]:
print(numbers)

[4, 5, 5, 8, 8, 9, 51, 65, 99]

In [60]:
numbers.count(10)
# 내부 개수

0

## 리스트 카피

In [61]:
origin_list = [1, 2, 3]
copy_list = origin_list

print(origin_list)
print(copy_list)

[1, 2, 3]
[1, 2, 3]

In [62]:
copy_list[0] = 100

In [63]:
print(origin_list)
print(copy_list)

[100, 2, 3]
[100, 2, 3]

In [65]:
origin_list = [1, 2, 3]
copy_list = origin_list[:]

In [66]:
print(origin_list)
print(copy_list)

[1, 2, 3]
[1, 2, 3]

In [67]:
copy_list[0] = 100

print(origin_list)
print(copy_list)

[1, 2, 3]
[100, 2, 3]

In [69]:
origin_list = [1, 2, [10, 11]]
copy_list = origin_list[:]

In [71]:
copy_list[0] = 100
copy_list[2][0] = -10

print(origin_list)
print(copy_list)

# 리스트 안의 리스트를 바꿀 땐 양쪽이 똑같이 바뀜...

[1, 2, [-10, 11]]
[100, 2, [-10, 11]]

In [72]:
import copy

origin_list = [1, 2, [10, 11]]
copy_list = copy.deepcopy(origin_list)

In [73]:
copy_list

[1, 2, [10, 11]]

In [74]:
copy_list[0] = 100
copy_list[2][0] = -10

print(origin_list)
print(copy_list)

[1, 2, [10, 11]]
[100, 2, [-10, 11]]

### list comprehension

In [75]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# 이렇게 쓰면 너무 복잡하고 단순 반복임

numbers = list(range(1, 11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [80]:
# 이 리스트 전부를 세제곱 하고 싶다면?

result = []

for number in numbers:
    temp = number ** 3
    result.append(temp)

print(result)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [81]:
result = [number ** 3 for number in numbers]

In [82]:
print(result)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [85]:
# 짝수만 고르기

numbers = list(range(1, 31))
result = []

for number in numbers:
    if number % 2 == 0:
        result.append(number)

print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [87]:
# 짝수만 고르기

numbers = list(range(1, 31))
result = [number for number in numbers if number % 2 == 0]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [106]:
# 연습문제 - 모음 제거

words = 'my name is hong'

result = [word for word in words if word not in 'aeiou']

In [113]:
print(result)
str = ''.join(result)
print(str)

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']
my nm s hng

In [115]:
words = 'my name is hong'

result = []

for word in words:
    vow = 'aeiou'
    if word not in vow:
        result.append(word)
        
print(result)

str = ''.join(result)
print(str)

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']
my nm s hng

In [119]:
# 방법 3 - 모음 제거하기

words = 'my name is hong'
vowels = 'aeiou'

for word in vowels:
    words = words.replace(word, '')

print(words)

my nm s hng

### dictionary 메소드

In [11]:
info = {
    'name': 'hong',
    'location': 'seoul',
    'age': 20,
    'phone_book': {
        'kim': '010-1234-1234',
        'park': '010-4321-4321',
    },
    'models': ['iphone', 'ipad'],
}

In [12]:
print(info['name'])

hong

In [13]:
print(info['age'])

20

In [14]:
print(info['phone_book']['park'])

010-4321-4321

In [15]:
print(info['models'][1])

ipad

In [16]:
# 값을 할당 및 변형할 때 - 기본
info['name'] = 'lee'
print(info)

{'name': 'lee', 'location': 'seoul', 'age': 20, 'phone_book': {'kim': '010-1234-1234', 'park': '010-4321-4321'}, 'models': ['iphone', 'ipad']}

In [17]:
# 값을 할당 및 변형할 때 - 메소드
info.update(name='choi')
print(info)

{'name': 'choi', 'location': 'seoul', 'age': 20, 'phone_book': {'kim': '010-1234-1234', 'park': '010-4321-4321'}, 'models': ['iphone', 'ipad']}

In [19]:
# 딕셔너리는 순서가 있는 시퀀스 형태가 아니므로 pop()으로 마지막 자료를 빼낼 수 없음
# 내가 뽑고 싶은 key값을 정해주면 가능 -> pop('key')
info.pop('location')
print(info)

{'name': 'choi', 'age': 20, 'phone_book': {'kim': '010-1234-1234', 'park': '010-4321-4321'}, 'models': ['iphone', 'ipad']}

In [20]:
print(info.get('name'))

# 가져오다 -> 아래와 같음

print(info['name'])

# 없는 값을 요청할 땐 차이점이 존재함

'choi'

In [21]:
print(info.get('birth'))

None

In [22]:
print(info['birth'])

KeyError: 'birth'

In [25]:
# 연습문제
blood_type = ['A', 'B', 'O', 'AB', 'A', 'A', 'B', 'O', 'O', 'AB']

# 숫자 세기
# {'A': 4, 'B': 2 ... 이런 식의 자료로 도출하기}

In [26]:
blood_type.count('A')

3

In [33]:
# 풀이

result = {
    'A': 0,
    'B': 0,
    'AB': 0,
    'O': 0,
}

for blood in blood_type:
    result[blood] += 1

print(result)

{'A': 3, 'B': 2, 'AB': 2, 'O': 3}

In [32]:
# 실패

for i in blood_type:
    
    answer = blood_type.count(i)
        
    print(answer)

3
2
3
2
3
3
2
3
3
2

In [35]:
# 데이터가 정해지지 않은 상태에서 딕셔너리 만들기

locations = ['서울', '서울', '대전', '부산', '대구', '부산', '울산', '인천', '제주도', 'LA', '파리']

In [36]:
result = {}

for location in locations:
    
    # key가 있는지 검사 후, 없으면 key 추가 생성, 있으면 숫자만 카운트
    # if location이 result key 목록에 있으면?:
        # 기존 데이터에 +1
    # 목록에 없다면
        # 새로운 키를 등록하고 기본값을 1로 지정

    if location in result.keys(): # result가 가진 keys 목록을 반환
        result[location] += 1

    else:
        result[location] = 1

print(result)

{'서울': 2, '대전': 1, '부산': 2, '대구': 1, '울산': 1, '인천': 1, '제주도': 1, 'LA': 1, '파리': 1}

In [37]:
result = {}

for location in locations:
    
    if result.get(location): # None = False
        result[location] += 1

    else:
        result[location] = 1

print(result)

{'서울': 2, '대전': 1, '부산': 2, '대구': 1, '울산': 1, '인천': 1, '제주도': 1, 'LA': 1, '파리': 1}

### dict comprehension

In [42]:
# {1: 1, 2: 8, 3: 27, ..., 10: 1000} 세 제곱

result = {}
numbers = range(1, 11)

for number in numbers:
    result[number] = number**3
    
print(result)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [44]:
result = {number: number ** 3 for number in range(1, 11)}
print(result)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [45]:
dust = {
    '서울': 50,
    '인천': 100,
    '수원': 30,
    '부산': 0,
}

In [49]:
# 지역 반복처리 해서 50보다 작은 지역들만 골라내기

result = {}
for key, value in dust.items():
    if value <= 30:
        result[key] = value
print(result)

{'수원': 30, '부산': 0}

In [54]:
result = {k: v for k, v in dust.items() if v <= 30}

In [55]:
print(result)

{'수원': 30, '부산': 0}

### Set 메소드

In [56]:
fruits = {'apple', 'banana', 'melon'}

In [57]:
print(fruits)

{'apple', 'banana', 'melon'}

In [58]:
# Set는 순서가 없음. 시퀀스 타입이 아님

In [59]:
fruits.add('watermelon')
# 추가하기

In [60]:
print(fruits)

{'apple', 'banana', 'watermelon', 'melon'}

In [61]:
fruits.update({'orange', 'grape'})
print(fruits)

{'grape', 'apple', 'banana', 'watermelon', 'melon', 'orange'}

In [62]:
fruits.remove('apple')
print(fruits)

{'grape', 'banana', 'watermelon', 'melon', 'orange'}

In [64]:
fruits.pop()
print(fruits)

{'watermelon', 'melon', 'orange'}

### map, filter, zip

`map(function, iterable, **iterables*)`

- iterable: 반복 가능한 개체(시퀀스 타입)
- 함수와 반복 가능한 개체 필요

In [65]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [66]:
# => ['1', '2', '3', ...] 일괄적으로 글자로 바꾸기

In [67]:
result = []

for number in numbers:
    result.append(str(number))

print(result)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [71]:
result = map(str, numbers)
print(result)

# 함수 이름만 알려줘야 하므로 str() 괄호 필요 없음
# <map object at 0x000002A4706FB340>
# map 실행한 결과(object)는 메모리주소 0x000~ 에 저장돼 있다는 의미
# map은 lazy한 연산을 한다고 말함
# 당장 연산하는 게 아니라 필요할 때 연산함
# 따라서 현재 계산하지 않고 사용자가 사용할 때 계산함

print(list(result))
# 최종적으로 계산하려면 리스트로 바꿔줘야 함

<map object at 0x000002A470722BC0>
['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [73]:
numbers = [1, 2, 3, 4, 5]
# => [1, 8, 27, 64, 125]

result = []
for number in numbers:
    result.append(number ** 3)

print(result)

[1, 8, 27, 64, 125]

In [78]:
# result = list(map(**3, numbers))
# print(result)

# 세 제곱하는 함수는 없는데?
# 세 제곱하는 함수를 직접 만들어서 사용해야 함

# 세 제곱하는 함수 만들기
def cube(x):
    return x ** 3

result = list(map(cube, numbers))
print(result)

[1, 8, 27, 64, 125]

In [79]:
test_input = '1 3 5 7 9'
# 1. 띄어쓰기 기준으로 나눈다
test_input.split()
# 2. 각 글자를 숫자로 바꾼다
test = map(int, test_input.split())
# 3. 리스트에 저장한다
print(list(test))

[1, 3, 5, 7, 9]

### filter
- fiter(function, iterable)

In [80]:
def is_odd(x):
    return x % 2

In [81]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# 기존 짝수 홀수 나누는 코드

result = []
for number in numbers:
    if number % 2 == 1:
        result.append(number)

print(result)

[1, 3, 5, 7, 9]

In [84]:
# filter 함수 활용

result = filter(is_odd, numbers)
print(list(result))

[1, 3, 5, 7, 9]

### zip

In [85]:
a = [1, 2, 3]
b = [100, 200, 300]

result = zip(a, b)
print(result)
print(list(result))

<zip object at 0x000002A470C63B80>
[(1, 100), (2, 200), (3, 300)]