## syntax error (문법 에러)

In [1]:
if True:
    pass
else

SyntaxError: expected ':' (3448656250.py, line 3)

In [2]:
print('hello)

SyntaxError: unterminated string literal (detected at line 1) (3574047905.py, line 1)

In [3]:
if True print('hello')

SyntaxError: invalid syntax (3421040245.py, line 1)

In [4]:
print('hello'

_IncompleteInputError: incomplete input (3871997710.py, line 1)

### exception

In [5]:
print(5/0)

ZeroDivisionError: division by zero

In [6]:
print(hello)

NameError: name 'hello' is not defined

In [7]:
1 + '1'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [8]:
'1' + 1

TypeError: can only concatenate str (not "int") to str

In [10]:
import random
random.sample([1, 2, 3, 4, 5])

TypeError: Random.sample() missing 1 required positional argument: 'k'

In [11]:
random.sample([1, 2, 3], 1, 2, 3)

TypeError: Random.sample() takes 3 positional arguments but 5 were given

In [13]:
int('4.5')

ValueError: invalid literal for int() with base 10: '4.5'

In [14]:
numbers = [1, 2, 3]
numbers.index(100)

ValueError: 100 is not in list

In [15]:
numbers[100]

IndexError: list index out of range

In [16]:
my_dict = {
    'apple': '사과',
    'banana': '바나나',    
}

In [17]:
my_dict('melon')

TypeError: 'dict' object is not callable

In [18]:
import pandas
# 모듈 가지고 올 때 사용하는 명령어

ModuleNotFoundError: No module named 'pandas'

In [19]:
import request

ModuleNotFoundError: No module named 'request'

### 예외 처리

```
try:
    code
except exception:
    code
```

In [26]:
try:
    number = int(input('숫자를 입력해주세요'))
    print(f'입력하신 {number}의 세제곱은 {number**3}입니다.')
except:
    print('숫자를 입력해달라고')

숫자를 입력해주세요 ㅇ

숫자를 입력해달라고

In [35]:
try:
    num = int(input('100을 무엇으로 나누겠습니까?'))
    print(f'100을 {num}으로 나눈 결과는 {100/num}')
except ValueError:
    print('입력한 데이터는 숫자가 아닙니다.')
except ZeroDivisionError:
    print('모든 수는 0으로 나눌 수 없습니다.')
# 오류 2가지 경우: 글자 넣은 경우 / 0을 넣은 경우

100을 무엇으로 나누겠습니까? 33

100을 33으로 나눈 결과는 3.0303030303030303

In [38]:
try:
    numbers = [1, 2, 3]
    numbers[1]
except:
    print('오류입니다')
else :
    print('여기는 else 입니다.')

여기는 else 입니다.

In [40]:
try:
    numbers = [1, 2, 3]
    numbers[1000]
except:
    print('오류입니다')
finally:
    print('여기는 finally 입니다')

오류입니다
여기는 finally 입니다

In [45]:
# 하나의 함수로 합쳐보기

def my_div(a, b):
    try:
        return a/b
    except (ValueError, TypeError): # 데이터타입이 잘못 들어왔을 때
        return '숫자를 넣어주세요'
    except ZeroDivisionError:
        return '0으로 나눌 수 없습니다'
    except:
        return '무엇인가 잘못됐습니다'


my_div(2, 0)

'0으로 나눌 수 없습니다'